{% extends "pagina_base.html" %}
{% load pagination_tags %}

{% block titulo_pagina%}Arquivos de Edições Realizadas{% endblock titulo_pagina %}

{% block estilo_extra %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/estilo/techtalks/arquivos.css" />
{% endblock estilo_extra %}

{% block conteudo %}
    <h1>Arquivos de Edições Realizadas</h1>
    {% if edicoes_realizadas %}
        {% autopaginate edicoes_realizadas 10 %}
        <div class="arquivos">
            <div id="fotos"
                <div class="titulo">Fotos</div>
                <div class="fotos">
                    <ul id="edicoes_realizadas">
                        {%for edicao_realizada in edicoes_realizadas%}
                            <li><a href="{% url techtalks.views.fotos_edicao edicao_realizada.id %}">{{edicao_realizada.id}}ª Edição - {{ edicao_realizada.data|date:"d/m/Y" }}</a></li>
                        {%endfor%}
                    </ul>
                    {% paginate %}
                </div>
            </div>
            <div id="outros_arquivos">
                <div class="titulo">Vídeos e Slides</div>
                <div class="outros_arquivos">
                    <ul id="edicoes_realizadas">
                        {%for edicao_realizada in edicoes_realizadas%}
                            <li><a href="{% url techtalks.views.videos_e_slides_da_edicao edicao_realizada.id %}">{{edicao_realizada.id}}ª Edição - {{ edicao_realizada.data|date:"d/m/Y" }}</a></li>
                        {%endfor%}
                    </ul>
                    {% paginate %}
                </div>
            </div>
        </div>
    {% else %}
        <h1>Ainda não existem edições realizadas.</h1>
    {% endif %}
{% endblock conteudo %}