{% extends "pagina_base.html" %}

{% block titulo_pagina%}Detalhes do Palestrante{% endblock titulo_pagina %}

{% block estilo_extra %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/estilo/techtalks/detalhes_palestrante.css" />
{% endblock estilo_extra %}

{% block conteudo %}
    <div id="destaque_titulo">Detalhes do Palestrante</div>
    <div id="detalhes_palestrante">
        <div id="foto_palestrante">
            <img src="{{ MEDIA_URL}}/{{ palestrante.foto }}" />
        </div>
        <div id="infos_palestrante">
            <div class="info"><span class="destaque">Nome:</span> {{ palestrante.nome }}</div>
            <div class="info"><span class="destaque">O que faz:</span> {{ palestrante.o_que_faz|linebreaksbr }}</div>
            <div class="info"><span class="destaque">Resumo da vida e obra:</span> {{ palestrante.resumo|linebreaksbr }}</div>
            <div class="info"><span class="destaque">Site:</span><a href="{{ palestrante.site }}"> {{ palestrante.site }}</a></div>
            <div class="info"><span class="destaque">github:</span><a href="{{ palestrante.github }}"> {{ palestrante.github }}</a></div>
            <div class="info"><span class="destaque">Twitter:</span><a href="{{ palestrante.twitter }}"> {{ palestrante.twitter }}</a></div>
            <div class="info"><span class="destaque">Slideshare:</span><a href="{{ palestrante.slideshare }}"> {{ palestrante.slideshare }}</a></div>
        </div>
    </div>
{% endblock conteudo %}
