{% extends "pagina_base.html" %}

{% block titulo_pagina%}Detalhes da Palestra {{ palestra.titulo }}{% endblock titulo_pagina %}

{% block estilo_extra %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/estilo/techtalks/detalhes_palestra.css" />
{% endblock estilo_extra %}

{% block conteudo %}
<h1>Detalhes da Palestra {{ palestra.titulo }}</h1>
<div id="palestra">
    <div class="titulo_destaque">{{ palestra.titulo}}</div>
    <div class="destaque">
        <div id="dados_palestras">
            <div><span class="negrito">Título: </span>{{ palestra.titulo }}</div>
            <div><span class="negrito">Resumo: </span>{{ palestra.resumo|linebreaksbr }}</div>
            <div>
                <span class="negrito">Palestrante(s):</span>
                {% for palestrante in palestra.listar_palestrantes %}
                    <a href="{% url techtalks.views.palestrante palestrante.id %}">{{ palestrante.nome }}</a>
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            </div>
            <div>
                <span class="negrito">Tags:</span>
                {% for palavra_chave in palestra.listar_palavras_chave %}
                    <a href="{% url techtalks.views.buscar_palestrar_por_tag palavra_chave.slug %}">{{ palavra_chave }}</a>
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            </div>
            <div class="arquivos">
                <div class="video_e_slide_container">
                    <div class="video_e_slide">
                        <div class="video">
                            {% if palestra.listar_videos %}
                                {{ palestra.listar_videos.0.retornar_embed|safe }}
                            {% else %}
                                <div class="sem_arquivo">Não existe vídeo cadastrado para esta palestra.</div>
                            {% endif %}
                        </div>
                        <div class="slide_div">
                            {% if palestra.retornar_slide_embeded %}
                                <div class="slide">{{ palestra.retornar_slide_embeded.0|safe }}</div>
                                <div class="slide_url">
                                    <a href="{{ palestra.retornar_slide_embeded.1 }}">Link da apresentaçao no Slideshare</a>
                                </div>
                            {% else %}
                                <div class="sem_arquivo">Não existe slide cadastrado para esta palestra.</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock conteudo %}