<link type="text/css" href="{{ MEDIA_URL }}/estilo/techtalks/edicao_em_destaque.css" rel="stylesheet" />

{% ifnotequal edicao None%}
	<h2>{{edicao.id}}ª Edição - {{ edicao.data|date:"d/m/Y" }}</h2>
	<div id="edicao">
		<div class="titulo_destaque">Informações Principais</div>
		<div class="destaque">
			<div id="dados">
				<div>Data: <span class="negrito">{{ edicao.data|date:"d/m/Y" }}</span></div>
				<div>Hora: <span class="negrito">{{ edicao.hora }}</span></div>
				<div>Local: <span class="negrito">{{ edicao.local }}</span></div>
			</div>
			<div id="cartaz">
				<img src="{{ MEDIA_URL }}/{{ edicao.cartaz }}" />
			</div>
		</div>
		<div id="destaque_palestras">Palestras</div>
		<div id="palestra">
		{% for palestra in edicao.listar_palestras %}
			<div class="titulo_destaque">{{ palestra.titulo}}</div>
			<div class="destaque">
				<div id="dados_palestras">
					<div>Título: <span class="negrito">{{ palestra.titulo }}</span></div>
					<div>Resumo: <span class="negrito">{{ palestra.resumo|linebreaksbr }}</div>
					<div>
						Palestrante(s):
						{% for palestrante in palestra.listar_palestrantes %}
							<span class="negrito"><a href="{% url techtalks.views.palestrante palestrante.id %}">{{ palestrante.nome }}</a></span>,
						{% endfor %}
					</div>
					<div>
						Tags:
						{% for palavra_chave in palestra.listar_palavras_chave %}
							<span class="negrito"><a href="{% url techtalks.views.buscar_palestrar_por_tag palavra_chave.titulo %}">{{ palavra_chave }}</a></span>,
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
{% else %}
	<div id="edicao_indefinida">
		<img src="{{ MEDIA_URL }}/imagens/sinal-de-alerta.jpg" />
		<div id="texto">
			Ainda não existe uma próxima edição definida. Aguarde...
		</div>
	</div>
{% endifnotequal %}
