<link type="text/css" href="{{ MEDIA_URL }}/estilo/techtalks/edicao_em_destaque.css" rel="stylesheet" />

{% ifnotequal edicao None%}
	<h2>{{edicao.id}}ª Edição - {{ edicao.data|date:"d/m/Y" }}</h2>
	<div id="edicao">
		<div class="titulo_destaque">Informações Principais</div>
		<div class="destaque">
			<div id="dados">
				<div><span class="negrito">Data: </span>{{ edicao.data|date:"d/m/Y" }}</div>
				<div><span class="negrito">Hora: </span>{{ edicao.hora }}</div>
				<div><span class="negrito">Local: </span>{{ edicao.local }}</div>
			</div>
			<div id="cartaz">
				<img src="{{ MEDIA_URL }}/{{ edicao.cartaz }}" />
			</div>
		</div>
		<div id="destaque_palestras">Palestras</div>
		<div id="palestra">
		{% for palestra in edicao.listar_palestras %}
			<div class="titulo_destaque">{{ palestra.titulo}}</div>
			<div class="destaque">
				<div class="dados_palestras">
					<div><span class="negrito">Título: </span>{{ palestra.titulo }}</span></div>
					<div><span class="negrito">Resumo: </span>{{ palestra.resumo|linebreaksbr }}</div>
					<div>
						<span class="negrito">Palestrante(s):</span>
						{% for palestrante in palestra.listar_palestrantes %}
							<a href="{% url techtalks.views.palestrante palestrante.id %}">{{ palestrante.nome }}</a>
							{% if not forloop.last %},{% endif %}
						{% endfor %}
					</div>
					<div>
						<span class="negrito">Tags:</span>
						{% for palavra_chave in palestra.listar_palavras_chave %}
							<a href="{% url techtalks.views.buscar_palestrar_por_tag palavra_chave.slug %}">{{ palavra_chave }}</a>
							{% if not forloop.last %},{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
{% else %}
	<div id="edicao_indefinida">
		<img src="{{ MEDIA_URL }}/imagens/sinal-de-alerta.jpg" />
		<div id="texto">
			Ainda não existe uma próxima edição definida. Aguarde...
		</div>
	</div>
{% endifnotequal %}
