#palestra {
    padding-left: 7px;
    padding-right: 7px;
}

#dados_palestras {
    padding: 10px;
    color: #00923f;
}

#dados_palestras a {
    text-decoration: none;
    color: #00923f;
}

#dados_palestras a:hover {
    text-decoration: underline;
}

.negrito {
    font-weight: bold;
}

.titulo_destaque {
    margin-top: 10px;
    height: 25px;
    width: auto;
    position: relative;
    top: 5px;
    padding-top: 8px !important;
    padding: 5px;
    color: #ffffff;
    background-color: #00923f;
    -moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.destaque {
    margin-bottom: 10px;
    border: 1px solid #00923f;
    -moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}