#edicao {
    padding-left: 7px;
    padding-right: 7px;
}

#dados {
    padding-top: 10px;
    padding-left: 10px;
    color: #868686;
}

.dados_palestras {
    padding: 10px;
    color: #868686;
}

.dados_palestras a {
    text-decoration: none;
    color: #868686;
}

.dados_palestras a:hover {
    text-decoration: underline;
}

.negrito {
    color: #555555;
}

#cartaz {
    width: 400px;
    padding: 10px;
}

#cartaz img {
    width: 400px;
}

.titulo_destaque {
    margin-top: 10px;
    height: 25px;
    width: auto;
    position: relative;
    top: 5px;
    padding-top: 8px !important;
    padding: 5px;
    color: #69B92D;
    background-color: #DDDDDD;
    -moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
}

.destaque {
    margin-bottom: 10px;
    border: 1px solid #DDDDDD;
}

#destaque_palestras {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #DDDDDD;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
	font-weight: bold;
    text-align: center;
    color: #69B92D;
    font-weight: bold;
}

#edicao_indefinida {
    margin-bottom: 10px;
}

#edicao_indefinida #texto {
    color: #868686;
    font-size: 25px;
    width: 600px;
    position: relative;
    top: -130px;
    left: 200px;
}