.fomentador {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #00923f;
	font-weight: bold;
    -moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

.titulo_equipe {
    height: 25px;
    width: 390px;
    position: relative;
    top: 5px;
	padding-top: 8px !important;
    padding-left: 5px;
    background-color: #00923f;
    color: #ffffff;
    -moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
    border-radius:4px;
	z-index: 1;
}

.equipe {
    margin-bottom: 10px;
    padding: 5px;
    /*background-color: #00923f;*/
    border: 1px solid #00923f;
    -moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	z-index: 2;
}

.membro {
    margin-right: 5px;
    margin-bottom: 3px;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: #00923f;
}