ul#edicoes_realizadas {
    color: #69B92D;
}

ul#edicoes_realizadas a {
    color: #69B92D;
    font-weight: bold;
    text-decoration: none;
}

ul#edicoes_realizadas a:hover {
    text-decoration: underline;
}

ul#edicoes_realizadas li {
    padding-bottom: 5px;
}

.pagination {
    text-align: center;
    padding-bottom: 10px;
    font-size: 21px;
    font-family: sans-serif, helvetica;
}

.pagination .prev,.pagination .next {
    color:#69B92D;
}

.pagination .page {
    color:#69B92D;
    text-decoration: none;
}

.pagination .page:hover {
    text-decoration: underline;
}

.pagination .current {
    color:#00523f;
}

.pagination .current:hover {
    text-decoration: none;
}

.pagination .disabled {
    visibility: hidden;
}