#videos {
    padding: 7px;
    margin-top: -20px;
}

.video {
    padding-left: 5px;
    padding-right: 3px;
    padding-bottom: 3px !important;
    padding-top: 2px !important;
    color:#00923f;
    font-weight: bold;
}

.video a {
    color:#00923f;
}

.pagination {
    clear: both;
    text-align: center;
    padding-bottom: 10px;
    font-size: 21px;
    font-family: sans-serif, helvetica;
}

.pagination .prev,.pagination .next {
    color:#00923f;
}

.pagination .page {
    color:#00923f;
    text-decoration: none;
}

.pagination .page:hover {
    text-decoration: underline;
}

.pagination .current {
    color:#00523f;
}

.pagination .current:hover {
    text-decoration: none;
}

.pagination .disabled {
    visibility: hidden;
}