#detalhes_palestrante {
    margin: 20px;
}

#foto_palestrante {
    width: 140px;
    height: 140px;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}

#foto_palestrante img {
    width: 140px;
    height: 140px;
}