body {
    padding: 0;
    margin: 0;
    background: transparent url("/site_media/imagens/bgGrad.gif") repeat-x scroll 0 0;
    font-family: verdana;
}

h1 {
	color: #00923f;
}

h2 {
	color: #00923f;
	margin:0;
	padding:0;
}

#topo {
	background-color: #00923f;
    height: 70px;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
}

#topo #logo {
    width: 300px;
    height: 70px;
	float: left;
}

#topo #logo img {
	border: none;
}

div.navegacao {
    position: relative;
    top: 15px;
    margin-left: 33%;
}

ul#navegacao {
    background-color: #00923f;
    display: block;
    height: 40px;
    line-height: normal;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
	margin: 0px;
	text-align: center;
    white-space: nowrap;
    border-right: 1px solid green;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
}

ul#navegacao li {
    background-color: #00923f;
    display: block;
    float: left;
    height: 40px;
    border-left: 1px solid green;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
}

ul#navegacao li#principal {
	border-left: none !important;
}

ul#navegacao li a {
    color: white;
    display: block;
    height: 40px;
    left: 0px;
    top: 0px;
    line-height: 40px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width:130px;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
}

ul#navegacao li a:hover{
	color: #00923f;
}

ul#navegacao li:hover {
    background-color: #ffffff;
	border: 1px solid #00923f;
	position: relative;
	top: -1px;
	border-right: none !important;
	
}

#conteudo {
    width: 960px;
    position: relative;
    left: 50%;
    margin-left: -481px;
}

#rodape {
    background-color: #00923f;
    color: #ffffff;
    padding:5px;
    text-align:center;
    clear:left;
    font-size: small;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
}

#rodape #links_rodape {
    /*float:left;*/
    /*width:450px;*/
    height:20px;
    text-align:center;
}

#rodape #links_rodape a{
    text-decoration:none;
    color:#ffffff;
    font-size: small;
}

#rodape #selo_django_powered {
	width: 100px;
	height: 43px;
	float: right;
	position: relative;
	top: -40px;
}