/* estilo base */
body {
    padding: 0;
    margin: 0;
    background: #585757 url(/site_media/imagens/bgGrad.gif) repeat-x scroll 0 0;
    background-attachment: fixed;
    font-family: verdana;
}

h1 {
	padding-left: 7px;
	color: #00923f;
}

h2 {
	padding-left: 7px !important;
	color: #00923f;
	margin:0;
	padding:0;
}

.conteudo {
    display: block;
    background-color: white;
    height: 100%;
}

.corpo {
    background-color: white;
    display: block;
    height: auto;
    left: 50%;
    margin-left: -380px;
    position: absolute;
    width: 762px;
}

.topo {
    display: block;
    height: 140px;
    left: 50%;
    margin-left: -381px;
    width: 762px;
    z-index:4;
}

.logo {
    width: 500px;
    height: 110px;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -250px;
    z-index: 5;
}

.logo img {
	border: none;
}

/* Fix IE.*/
* html .navegacao {
    top: 65px;
}

* html .topo {
    background-color: transparent;
    height: auto;
}
/* end */

.navegacao {
    background-color: #00923f;
    display: block;
    height: 40px;
    left: 50%;
    line-height: normal;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-left: -380px;
    padding: 0px;
    position: absolute;
    top: 95px;
    *top: 123px; /* IE 7 Hack - Maldito IE */
    white-space: nowrap;
    width: 760px;
    z-index: 2;
    border-right: 1px solid white;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.navegacao li {
    background-color: #00923f;
    display: block;
    float: left;
    height: 40px;
    width: 151px;
    border-left: 1px solid white;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.navegacao li#principal {
	border-left: none !important;
}

.navegacao li a {
    color: white;
    display: block;
    height: 40px;
    left: 0px;
    top: 0px;
    line-height: 40px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 150px;
    font-variant: small-caps;
    font-weight: bold;
    overflow: hidden;
}
.navegacao li:hover {
    background-image: url(/site_media/imagens/bgmenu_ativo.png);
    background-color: #00923f;
}

.cantoD , .cantoE {
    display : block;
    position: absolute;
    top: 145px;
    height: 20px;
    width: 33px;
}

.cantoD {
    background-image: url("/site_media/imagens/cantoD.png");
    background-repeat: no-repeat;
    background-color: transparent;
    width: 29px;
    height: 32px;
    right: -29px;
    top: 142px !important;
}

* html .cantoD {
    right: -29px;
}

.cantoE {
    background-image: url("/site_media/imagens/cantoE.png");
    background-repeat: no-repeat;
    background-color: transparent;
    width: 30px;
    height: 32px;
    left: -30px;
}

.rodape {
    background-color: #00923f;
    color: #ffffff;
    padding:5px;
    padding-bottom: 0px !important;
    text-align:center;
    clear:left;
    font-size: small;
}

.links_rodape {
    float:left;
    width:450px;
    height:20px;
    text-align:right;
}

.links_rodape a{
    text-decoration:none;
    color:#ffffff;
    font-size: small;
}

/* fim do estilo base */

.texto_pagina_principal {
    /*_margin-top: 180px !important;*/
    /*padding-bottom: 20px;*/
    /*padding-top: 20px;*/
	/*font-size: small;*/
}

.selo_django_powered {
    padding-top:5px;
    text-align: right;
    margin-right: 0px;
}