body {
    padding: 0;
    margin: 0;
    /*background: transparent url("/site_media/imagens/bgGrad.gif") repeat-x scroll 0 0;*/
    font-family: verdana;
}

h1 {
	color: #69B92D;
}

h2 {
	color: #69B92D;
	margin:0;
	padding:0;
}

#topo {
	background-color: #DDDDDD;
    height: 70px;
}

#topo #logo {
    width: 300px;
    height: 70px;
	float: left;
}

#topo #logo img {
	border: none;
}

div.navegacao {
    position: relative;
    top: 25px;
    margin-left: 33%;
}

ul#navegacao {
    background-color: transparent;
    display: block;
    height: 20px;
    line-height: normal;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
	margin: 0px;
	text-align: center;
    white-space: nowrap;
    border-right: 1px solid #C3C3C3;
}

ul#navegacao li {
    background-color: transparent;
    display: block;
    float: left;
    height: 20px;
    border-left: 1px solid #C3C3C3;
}

ul#navegacao li#principal {
	border-left: none !important;
}

ul#navegacao li a {
    color: #69B92D;
    display: block;
    height: 20px;
    left: 0px;
    top: 0px;
    line-height: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width:130px;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
}

ul#navegacao li a:hover{
	color: #69B92D;
	text-decoration: underline;
}

ul#navegacao li:hover {
	border-right: none !important;
	
}

#conteudo {
    width: 960px;
    position: relative;
    left: 50%;
    margin-left: -481px;
}

#rodape {
    background-color: #DDDDDD;
    color: #69B92D;
    padding:5px;
    text-align:center;
    clear:left;
    font-size: small;
}

#rodape #logo_iff {
	float: left;
	/*border: 1px solid #000000;*/
	position: relative;
	top: -3px;
}

#rodape #links_rodape {
    height:20px;
    text-align:center;
}

#rodape #links_rodape a{
    text-decoration:none;
    color:#69B92D;
    font-size: small;
}

#rodape #selo_django_powered {
	width: 100px;
	height: 43px;
	float: right;
	position: relative;
	top: -40px;
}